<section data-ng-controller="HomeController">

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h1 class="text-black">Track all your shots and never forget what film is in your cameras.</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h3>Always know what films are in your cameras and track the film as you develop and scan it. View your camera and film usage over time so you can see what you use the most. The site works on both your desktop and your smartphone.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12 text-center">
				<h3>
					<a type="button" class="btn btn-lg btn-success" href="/#!/signup">Register now</a>
				</h3>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->



</section>
