<section data-ng-controller="LensController" data-ng-init="find()">
    <div class="page-header">
        <h1>Lens</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="len in lens" data-ng-href="#!/lens/{{len._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="len.created | date:'medium'"></span>
				by
				<span data-ng-bind="len.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="len.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!lens.$resolved || lens.length">
    	No Lens yet, why don't you <a href="/#!/lens/create">create one</a>?
    </div>
</section>