<div>
	<div class="row">
		<div class="col-xs-12 col-sm-offset-2 col-sm-8">
			<h1>Camera</h1>
			<table class="table table-striped">
				<tbody>
					<tr>
						<td>Model</td>
						<td>{{ viewCtrl.camera.cameraModel }}</td>
					</tr>
					<tr>
						<td>Fixed Lens?</td>
						<td>{{ viewCtrl.camera.fixedLens }}</td>
					</tr>
					<tr>
						<td>Active?</td>
						<td>{{ viewCtrl.camera.active }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-offset-2 col-sm-8">
			<div class="pull-right" data-ng-show="((viewCtrl.authentication.user) && (viewCtrl.authentication.user._id == viewCtrl.camera.user._id))">
				<a class="btn btn-primary" href="/#!/cameras/{{viewCtrl.camera._id}}/edit">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
				<a class="btn btn-primary" data-ng-click="viewCtrl.remove()">
					<i class="glyphicon glyphicon-trash"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-offset-2 col-sm-8">
			<small>
				<em class="text-muted">
					Posted on
					<span data-ng-bind="viewCtrl.camera.created | date:'mediumDate'"></span>
					by
					<span data-ng-bind="viewCtrl.camera.user.displayName"></span>
				</em>
			</small>
		</div>
	</div>
</div>

