<section class="ft-window">
<div class="row">
	<div class="col-sm-6 col-sm-offset-3 col-xs-12">
		<div class="page-header">
			<h1>New Film Roll</h1>
		</div>
		<form class="" data-ng-submit="vm.create()" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="camera">Camera</label>
					<div class="controls">
						<input type="text" data-ng-model="vm.filmRoll.camera" id="camera" class="form-control" placeholder="Camera used..." required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="catalog">Catalog</label>
					<div class="controls">
						<input type="text" data-ng-model="vm.filmRoll.catalog" id="catalog" class="form-control" placeholder="Catalog name..." required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="film">Film</label>
					<div class="controls">
						<input type="text" data-ng-model="vm.filmRoll.film" id="film" class="form-control" placeholder="Film used..." required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="type">Type</label>
					<div class="controls">
						<input type="text" data-ng-model="vm.filmRoll.type" id="type" class="form-control" placeholder="Type of negative/slide...">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="iso">ISO</label>
					<div class="controls">
						<input type="number" data-ng-model="vm.filmRoll.iso" id="iso" class="form-control" placeholder="ISO number..." required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="format">Format</label>
					<div class="controls">
						<input type="text" data-ng-model="vm.filmRoll.format" id="format" class="form-control" placeholder="Film format...">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="description">Description</label>
					<div class="controls">
						<input type="text" data-ng-model="vm.filmRoll.description" id="description" class="form-control" placeholder="Description of event...">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="start">Start</label>
					<div class="controls">
						<input type="date" data-ng-model="vm.filmRoll.start" id="start" class="form-control" placeholder="Date of first use...">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="finish">Finish</label>
					<div class="controls">
						<input type="date" data-ng-model="vm.filmRoll.finish" id="finish" class="form-control" placeholder="Date finished...">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="develop">Develop</label>
					<div class="controls">
						<input type="date" data-ng-model="vm.filmRoll.develop" id="develop" class="form-control" placeholder="Date film was developed...">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="scan">Scan</label>
					<div class="controls">
						<input type="date" data-ng-model="vm.filmRoll.scan" id="scan" class="form-control" placeholder="Date fill was scanned...">
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Save</button>
					&nbsp; or &nbsp; <a data-ng-href="#!/films">cancel</a> 
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</div>
</section>
