<section class="ft-window" data-ng-controller="FilmsController" data-ng-init="FilmsCtrl.findOne()">
<div class="row">
	<div class="col-sm-6 col-sm-offset-3 col-xs-12">
		<div class="page-header">
			<h1>Edit Film Roll</h1>
		</div>
		<form class="form-horizontal" data-ng-submit="FilmsCtrl.update()" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="camera">Camera</label>
					<div class="controls">
						<input type="text" data-ng-model="FilmsCtrl.film.camera" id="camera" class="form-control" placeholder="Camera used..." required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="name">Catalog</label>
					<div class="controls">
						<input type="text" data-ng-model="FilmsCtrl.film.catalog" id="catalog" class="form-control" placeholder="Catalog name..." required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="name">Film</label>
					<div class="controls">
						<input type="text" data-ng-model="FilmsCtrl.film.film" id="film" class="form-control" placeholder="Film used..." required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="name">Type</label>
					<div class="controls">
						<input type="text" data-ng-model="FilmsCtrl.film.type" id="type" class="form-control" placeholder="Type of negative/slide...">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="name">ISO</label>
					<div class="controls">
						<input type="number" data-ng-model="FilmsCtrl.film.iso" id="iso" class="form-control" placeholder="ISO number..." required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="name">Format</label>
					<div class="controls">
						<input type="text" data-ng-model="FilmsCtrl.film.format" id="format" class="form-control" placeholder="Film format...">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="name">Description</label>
					<div class="controls">
						<input type="text" data-ng-model="FilmsCtrl.film.description" id="description" class="form-control" placeholder="Description of event...">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="name">Start</label>
					<div class="controls">
						<input type="date" data-ng-model="FilmsCtrl.film.start" id="start" class="form-control" placeholder="Date of first use...">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="name">Finish</label>
					<div class="controls">
						<input type="date" data-ng-model="FilmsCtrl.film.finish" id="finish" class="form-control" placeholder="Date finished...">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="name">Develop</label>
					<div class="controls">
						<input type="date" data-ng-model="FilmsCtrl.film.develop" id="develop" class="form-control" placeholder="Date film was developed...">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="name">Scan</label>
					<div class="controls">
						<input type="date" data-ng-model="FilmsCtrl.film.scan" id="scan" class="form-control" placeholder="Date fill was scanned...">
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Update</button>
					&nbsp; or &nbsp; <a data-ng-href="#!/films/{{FilmsCtrl.film._id}}">cancel</a> 
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</div>
</section>
